<div class="container">
  <h1>My Babies</h1>
  <div class="row justify-center">
    <div class="row">
      <ul>
        <% current_user.babies.each do |baby| %>
        <%= link_to(baby_path(baby)) do %>
        <div class="card-product mt-4">
          <%= cl_image_tag baby.photo, height: 180, width: 180, crop: :fill %>
          <div class="card-product-infos">
            <h3><%= baby.first_name %></h3>
            <h2><%= baby.title %></h2>
            <p><%= baby.description %></p>
            <h3><%= baby.price_per_day %> € / per day</h3>
            <p> <%= link_to "See my baby", baby_path(baby) %>
            <%= link_to "Edit my baby", edit_baby_path(baby) %>
            <%= link_to "Delete my baby", baby_path(baby),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </ul>
      </div>
    </div>

    <h1>My booked babies</h1>
    <div class="row justify-center">
    <div class="row">
      <ul>
        <% current_user.bookings.each do |booking| %>
        <%= link_to(baby_path(booking.baby)) do %>
        <div class="card-product mt-4">
          <%= cl_image_tag booking.baby.photo, height: 180, width: 180, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= booking.baby.title %></h2>
            <h3><%= booking.baby.first_name %></h3>
            <p><%= booking.baby.description %></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
