<% unless user_signed_in? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
	<div class="banner-text">
		<h1>AirBaby</h1>
		<h2> <strong>the first marketplace</strong> to <strong>rent babies</strong>!</h2>
		<p>Giving baby love to baby lovers</p>
		<%= link_to "Sign-up", new_user_registration_path, class:"btn button"%>
	</div>
</div>
<% end %>
<div class="container mt-3">
	<h1>Search a Baby</h1>
	<div class="row justify-center">
		<div class="row col-6">
			<% @babies.each do |baby| %>
			<%= link_to(baby_path(baby)) do %>
			<div class="card-product mt-2" data-center="<%= [baby.user.longitude, baby.user.latitude] %>">
				<%= cl_image_tag baby.photo, height: 180, width: 180, crop: :fill %>
				<div class="card-product-infos">
					<h2><%= baby.first_name %></h2>
					<h3><%= baby.title %></h3>
					<p><%= baby.description %></p>
					<h6>Price per day: <%= baby.price_per_day %>€</h6>
					<p>Gender: <%= baby.gender %></p>
				</div>
			</div>
			<% end %>
			<% end %>
		</div>
    <div class="row col-6">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
	</div>
</div>
